<a href="https://colab.research.google.com/github/devuvasudvn24/Datascience-assignments/blob/main/python_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program which accepts the radius of a circle from the user
and compute the area.Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [4]:
import math
radius = float(input("Enter the radius: "))
area = math.pi * radius ** 2
print(f"Area of Circle is {area}")

Enter the radius: 4
Area of Circle is 50.26548245743669

2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.Sample input: Enter the name: Anisha Enter the roll number: 21 Enter the mark: 78 Sample output: Name: Anisha Roll No: 21 Mark: 78

In [3]:
name = input("Enter the name: ")
roll_number = input("Enter the roll number: ")
mark = input("Enter the mark: ")
print("\nStudent Details:")
print("Name:",name)
print("Roll No:",roll_number)
print("Mark:",mark)

Enter the name: Anisha
Enter the roll number: 32
Enter the mark: 60

Student Details:
Name: Anisha
Roll No: 32
Mark: 60

3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [5]:
numbers = input("Enter numbers separated by commas: ")
numbers_list = [int(num.strip()) for num in numbers.split(',')]
largest_number = max(numbers_list)
print(largest_number," is the largest number.")

Enter numbers separated by commas: 6,13,65,32,9
65  is the largest number.

4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [6]:
pre_num=0
for i in range(1,11):
    sum=pre_num+i
    print("Current Number",i,"Previous Number",pre_num,"Sum:",sum)
    pre_num=i

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

5. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [7]:
list1=[10,20,33,46,55]
for i in list1:
    if i%5==0:
        print(i)

10
20
55

6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number

In [8]:
prime_num=int(input("Enter the number: "))
for i in range(2,prime_num):
    if prime_num%i==0:
        print(prime_num,"is not a prime number.")
        break
else:
    print(prime_num,"is a prime number.")

Enter the number: 5
5 is a prime number.

7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [9]:
rev_num=[10,40,30,70]
rev_num.reverse()
print(rev_num)

[70, 30, 40, 10]

8. Write a Python program to print the following pattern.
*
**
***
****

In [10]:
for i in range(1,5):
    print("*"*i)

*
**
***
****

9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [11]:
a=(34,12,7)
print(max(a))

34

10. Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [12]:
for i in range(1,6):
    print("*"*i)
for i in range(4,0,-1):
    print("*"*i)

*
**
***
****
*****
****
***
**
*

**PART 2**

1.Write a Python program to accept a string value from the user and display the count of each character in that string. Sample input: Enter a string value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [13]:
a=input("Enter a string value: ")
count={}
for i in a:
    if i in count:
        count[i]+=1
    else:
        count[i]=1
for i,j in count.items():
    print(i,"=",j)

Enter a string value: apple
a = 1
p = 2
l = 1
e = 1

2.Write a Python function to find the maximum of three numbers Sample input: 34,12,7 Sample output: 34

In [15]:
a=(51,9,36)
print("The maximum of three number is ",max(a))

The maximum of three number is  51

3.Write a Python function called exponent(base,exp) that returns an integer value of base raises to the power of exp. Sample input: Enter the base: 2 Enter the exponent: 3 Sample output: 8

In [16]:
base=int(input("Enter the base: "))
exp=int(input("Enter the exponent: "))
def exponent(base,exp):
    return base**exp
print(exponent(base,exp))

Enter the base: 4
Enter the exponent: 2
16

4.Write a Python function that takes a positive integer and returns the sum of the cube of all the positive integers smaller than the specified number. Sample input: 4 Sample output: 36

In [23]:
def sum_of_cubes(n):
  sum = 0
  for i in range(1, n):
    sum += i**3
  return sum
n = int(input("Enter a positive integer: "))
result = sum_of_cubes(n)
print("The sum of cubes of numbers smaller than",n,"is:",result)

Enter a positive integer: 7
The sum of cubes of numbers smaller than 7 is: 441

5. Write a Python program which iterates from 1 to 10. For multiples of 2, print “Fizz” instead of the number and for the multiples of 5, print “Buzz”. For numbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9 FizzBuzz

In [24]:
for i in range(1,11):
    if i%2==0 and i%5==0:
        print("FizzBuzz")
    elif i%2==0:
        print("Fizz")
    elif i%5==0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

6.Write a Python program to find the most frequent item in a list of numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [25]:
a=[2,3,4,2,5,2]
print("The most frequent item is: ",max(a,key=a.count))

The most frequent item is:  2

7.Write a Python program to find the sum of squares of the numbers in a list. Sample input: 2,1,3,1 Sample output: 15

In [26]:
l1 = [2, 1, 3, 1]
sum_of_squares = 0
for num in l1:
    sum_of_squares += num ** 2
print(sum_of_squares)

15

8.Write a Python program using for loop that will iterate from 1 to 15. For each iteration, check if the current number is odd or even, and display the message to the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-even …. 15-odd

In [27]:
for i in range(1,16):
    if i%2==0:
        print(i,"-even")
    else:
        print(i,"-odd")

1 -odd
2 -even
3 -odd
4 -even
5 -odd
6 -even
7 -odd
8 -even
9 -odd
10 -even
11 -odd
12 -even
13 -odd
14 -even
15 -odd

9.Write a Python program to convert temperatures to and from Celsius Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f= temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41 Sample output: Temperature in Celsius =5

In [29]:
f=int(input("Temperature in Fahrenheit ="))
c=(f-32)*5/9
print("Temperature in Celsius =",int(c))

Temperature in Fahrenheit =38
Temperature in Celsius = 3

10.Write a Python function to calculate the factorial of a number (a nonnegative integer). The function accepts the number as an argument. Sample input: 3 Sample output: 6

In [30]:
fact=int(input("Enter the number: "))
def factorial(fact):
    if fact==0:
        return 1
    else:
        return fact*factorial(fact-1)
print(factorial(fact))

Enter the number: 6
720